@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

/*HEADER*/

  /*NAV BAR*/
header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  nav {
    width: 600px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  .blackHeart {
    width: 20px;
    margin-right: 1rem;
  }


  /*SEARCH BAR*/ 
 
  .npm-logo {
    width: 60px;
    margin-right: 1rem;
  }  


/* QUEDA PENDIENTE AJUSTAR ESTA SEARCH BAR*/
.search-area {
  padding: 10px 0px 10px 30px;    
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0px solid lightgray;
}

  .search-bar {
    width: auto;
    background-color: rgba(0,0,0,.05);
    display: flex;
    justify-content: space-around;
    
   }

   .magnifying-glass {
    width: 20px;
    height: 20px;
    margin: 0px 10px;
    align-self: center ;
  }

.search-area-links {
  width: 400px;
  
}

  .search-bar input {
    width: 500px;
    background-color: rgba(0,0,0,.05);
    font-family: 'Poppins';
  }

  #search-packages{
   
    padding: 0px;
    margin: 0px;
    border: 0px solid black
 
  }

  .search-bar button {
    background-color: #fb3e44;
    color: white;
    border: none;
    width: 60px;
    height: 30px;

  }

  .link-btn{
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 0 25px;
    border: 0px solid lightgray;
  }

